doctype
html(lang='en' data-theme='dark')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css")
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(rel="icon", href="/favicon.ico", type="image/x-icon")
style.
    #header a {
        color: white;
        text-decoration: none;
    }
    #header a:hover {
        text-decoration: none;
    }
h1(id="header")
    a(href="/") nomodoom
block content
p Bugs or requests? Please message this 
    a(href="https://twitter.com/edweirdsnowman") Twitter account.