extends Base
block content
  h1 nomodoom
  p Take control of social media
  form(action="/create-link" method="post") 
    label(for="email") Email 
    input(id="email" name="email" type="text")
    button(type="submit") Send login link
  h2 What is this?
  p nomodoom (No More Doom) changes the way you ingest social media by utilizing the tried and true best form of asynchronous content: email. Instead of doom scrolling on your favorite, addictive social media platform, get a periodic digest of the most important posts that you can view on your own time. Whether that's daily, once a week, or once a month, you get to choose how often you get informed and break the mind-melting habit of doom scrolling.
  h3 What platforms are supported?
  span nomodoom is new and currently only supports subreddits with daily digests. But stay tuned! The plan is to also support Twitter and YouTube with customizable digest schedules soon. For updates please follow this 
  a(href="https://twitter.com/edweirdsnowman") Twitter account.