extends Base
block content
  p Take control of social media
  form(action="/create-link" method="post") 
    label(for="email") Email 
    input(id="email" name="email" type="text")
    button(type="submit") Send login link
  h2 What is this?
  p nomodoom changes the way you ingest social media by utilizing the tried and true best form of asynchronous content: email. Instead of doom scrolling your favorite, addictive social media platform, get a periodic digest of the most important posts that you can view on your own time.
  h3 What platforms are supported?
  span nomodoom currently supports digests for Reddit and Hacker News. If you are interested in updates please follow the Twitter account below.