extends Base
block content
  p This subscription will sign you up for any updates to nomodoom
  unless isSubscribed
    h2 You are not subscribe to nomodoom updates
    button(class="nomodoomSubscriptionToggle" onclick="subscribe()") Subscribe
  unless !isSubscribed
    h2 You are subscribe to nomodoom updates
    button(class="nomodoomSubscriptionToggle" onclick="unsubscribe()") Unsubscribe
  script.
    function subscribe() {
      const btn = document.querySelector(".nomodoomSubscriptionToggle")

      btn.disabled = true

      fetch("/api/item-crud", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          query: "ADD_NOMODOOM_SUBSCRIPTION"
        })
      }).then(() => location.reload())
    }

    function unsubscribe() {
      const btn = document.querySelector(".nomodoomSubscriptionToggle")

      btn.disabled = true
      fetch("/api/item-crud", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          query: "REMOVE_NOMODOOM_SUBSCRIPTION"
        })
      }).then(() => location.reload())
    }
    